* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: Montserrat;  */ 
    font-family: 'Montserrat', sans-serif;
}
body {
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    scroll-snap-points-y: repeat(100vh);
    overflow-x: hidden;
}
html {
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    scroll-snap-points-y: repeat(100vh);
}





.section {
    width:100vw;
    height: 100vh;
    display:flex;
}
#section1 {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background-image: url("assests/images/car1.png");
    background-position: center;
    background-size: cover;
    
}
#section2 {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background-image: url("assests/images/car2.png");
    background-position: center;
    background-size: cover;
}
#section3 {
    
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background-image: url("assests/images/car3.png");
    background-position: center;
    background-size: cover;
}
#section4 {
    
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background-image: url("assests/images/car4.png");
    background-position: center;
    background-size: cover;
}
#section5 {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background-image: url("assests/images/house5.png");
    background-position: center;
    background-size: cover;
}
#section6 {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background-image: url("assests/images/house6.png");
    background-position: center;
    background-size: cover;
}
#section7 {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background-image: url("assests/images/accessories.png");
    background-position: center;
    background-size: cover;
}

/* <-------Navigation Bar-----------> */
.nav-container {
    position: sticky;
    top: 0px;
    display: flex;
    background-color: transparent;
    width: 100vw;
    height: 52px; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    cursor: pointer;
    transition: all .5s ease-in-out;
    width: 30px;
    height: 30px;
    z-index: 10;
}
.burger-btn {
    width: 18px;
    height: 2px;
    background-color: black;
    border-radius: 10px;
    transition: all .45s ease-in-out;
    z-index: 10;
    position:relative;
    
}

.burger-btn::before,.burger-btn::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 2px;
    background-color:black;
    border-radius: 10px;
    transition: all .45s ease-in-out;
    z-index:10;
    
}
.burger-btn::before {
    transform: translateY(-5px);
    z-index: 10;

}
.burger-btn::after {
    transform: translateY(5px);
    z-index: 10;
}
/* <-----ANIMATION------> */
.menu-btn.open .burger-btn{
    transform: translateX(-50px);
    background: transparent;
}
.menu-btn.open .burger-btn::before{
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .burger-btn::after{
    transform: rotate(-45deg) translate(35px,35px);
}
/* <--------NAV-LINKS----------> */
.nav-menu-middle,.nav-menu-right {
   list-style-type: none;
   display: flex;
   
   
}
.nav-menu-list-items {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size:14px;
    cursor: pointer;
   letter-spacing: 1.5px;
   word-spacing: 4px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   z-index: 1;
}
.nav-menu-middle {
    flex-grow: 1;
    justify-content: center;
    
    
}
/* <----------Nav Menu Secondary----------------> */
/* nav-container-secondary {
    height: 100vh;
    width: 100vw;
    margin-left: 0px;
    z-index: 2;
    text-align: left;
    align-items: center; 
    transform: translateX(100%);
    transition: all 0.2s ease-in-out;
    overflow-x: hidden;
    background-color: white;
    padding-top: 52px;
    

    
} */
.nav-container-secondary {
 float: right;
 height: 100vh;
 transform: translateX(100%);
 position: relative;
 top: 52px;
overflow-x: hidden;
transition: all 0.5s;
position:sticky;
    right: 0px;
 
}
.nav-menu-list-items-secondary {
    font-size:14px;
    cursor: pointer;
    z-index: 1;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.253);
    align-self: center;
    float: right;
    width:100%;
    background-color: white;
    overflow-x: hidden;
    
   
}
.nav-menu-secondary {
  /*   position: relative;
    top: 52px; */
    overflow-x: hidden;
    z-index: 100;
}
/* <------------SECTION 2------------> */
.headings {
    font-family: Montserrat;
    flex-grow: 1;
    margin-top: 90px;
    color:#929292;
}
h3 {
    font-size: 40px;
    color: #464950;
    padding-bottom: 10px;
    font-weight: 500;
    /* text-align: center; */
}
wrapper>p {
    color: #929292;
    padding-bottom: 10px;
    font-weight: 100;
    
}
p>a {
    text-decoration: underline;
    color: #313131;
    cursor: pointer;
}
.bottom-container {
    position: relative;
    top: 55vh;
    width: 100vw;
    height: 10vh;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:row;

    


}
.button-box{
    width: 47.16%;
    height: 100%;
    display: flex;
    text-align:center;
    justify-content:center;
}
.button {
    width: 100%;
    height: 62%;
    /*  width: 272px;
    height: 40px; */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 40px;
    padding-left: 40px;
    margin: 8px;
    border-radius: 60px;
    border: none;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    
}
#button7 {
    width:60%;
    background-color:#171a20 ;
    color: white;
}
.arrow
{

    cursor: pointer;
    font-size: 40px;
    text-align: center;
    animation: bouncing 1.5s infinite forwards ;
    text-align:center;
    position: relative;
    top: 55vh
}
#button1 {
    background-color: #171A20CC;
    color: white;
}
#button2 {
    background-color: #FFFFFFA6;
    color:black;
}
@keyframes bouncing {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(5px);
    }
    60% {
        transform: translateY(3px);
    }
    
}
/* <---------SECTION-DETAILS-----------> */
.section-details {
    justify-content: center;
    justify-self: center;
    align-items: center;
    text-align:center;
    width:100vw;
}
/* <----------Response------------> */
@media (max-width:900px) and (min-width:375px) {
    #section1 {
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        
        
    }
    .bottom-container {
        width: 75vw;
    }
    .button {
        width: 100vw;
        padding: 0;
        margin: 1.25vw;
    }
    .nav-container-secondary {
        z-index: 100;
    }
    footer>ol>li {
        padding: 0%;
        color: #929292;
    }
    footer>ol {
        justify-content: center;
        font-size:8px;
    }
    footer {
        width: 50vw;
    }
}
@media (min-width:450px) and (max-width:900px) {
    .bottom-container {
        width: 100vw;
        /* background-color:blue; */
    }
    .button {
        width: 100vw;
        padding: 0;
        margin: 1.25vw;
    }
    .button-box{
        width: 80%;
        height: 90%;
        display: flex;
    }
    .nav-container-secondary {
        z-index: 100;
    }
    footer>ol>li {
        padding: 0%;
        color: #929292;
    }
    footer {
        width: 80vw;
    }
}
@media (min-width:900px) and (max-width:1200px) {
    .bottom-container {
        width: 100vw;
        /* background-color:yellow; */
       
    }
    .button {
        width: 100%;
        padding: 0;
        margin: 1.25vw;
    }
    .button-box{
        width: 60%;
        height: 90%;
        display: flex;
    }
    .nav-container-secondary {
        z-index: 100;
    }
    footer>ol>li {
        padding: 0%;
        color: #929292;
    }
    footer>ol {
        justify-content: center;
        font-size:8px;
    }
    footer {
        width: 80vw;
    }
}
@media (max-width:450px) {
    body {
        overflow-x: hidden;
        /* scroll-snap-type: y mandatory;
        scroll-snap-stop: always;
        scroll-snap-points-y: repeat(100vh); */
        
    }
    html{
       /*  overflow-x: hidden; */
        /* scroll-snap-type: y mandatory;
        scroll-snap-stop: always;
        scroll-snap-points-y: repeat(100vh); */
    }
    .wrapper {
        overflow-x: hidden;
    }
    
    #section1 {
        background-size: 50em;
        background-position: center;
        background-position-x: -13.5em;
        background-repeat: no-repeat;
    }
    .bottom-container {
        width: 100%;
    }
    .button-box{
        width: 100vw;
    }
    .button {
        width: 95%;
        height: 55%;
        font-size: 12px;
    }
    .nav-container-secondary {
        position: absolute;
    left: 35vw;
    bottom: 39vh; 
    z-index: 100;
    }
    footer>ol>li {
        padding: 0%;
        color: #929292;
    }
    footer>ol {
        justify-content: center;
        font-size:8px;
    }
    footer {
        width: 80vw;
    }
}
@media (max-width:1200px) {
    .nav-menu-list-items {
        display: none;
    }
    footer>ol>li {
        padding: 0%;
        color: #929292;
    }
}
footer>ol {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display:flex;
    flex-direction:row;
    list-style-type: none;
    width:100vw;
    text-align:center;
    justify-content:center;
    font-size: 12px;
}
footer>ol>li {
    padding: 2%;
    color: #929292;
}